@import 'tailwindcss';

/* Custom keyframes */
@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideEnterUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeaveDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@theme {
  /* #393E46 */
  --color-primary: oklch(36.23% 0.015 259.81);
  /* #222831 */
  --color-secondary: oklch(27.49% 0.0188 258.37);
  /* #FFD369 */
  --color-accent: oklch(88.45% 0.133 86.89);

  /* Animations */
  --animate-slideDownAndFade: slideDownAndFade 400ms
    cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slideLeftAndFade: slideLeftAndFade 400ms
    cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slideUpAndFade: slideUpAndFade 400ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slideRightAndFade: slideRightAndFade 400ms
    cubic-bezier(0.16, 1, 0.3, 1);
  /* Mobile full player */
  --animate-slideEnterUp: slideEnterUp 300ms
    cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --animate-slideLeaveDown: slideLeaveDown 300ms
    cubic-bezier(0.55, 0.085, 0.68, 0.53);
  /* Radix UI dialog */
  --animate-overlayShow: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
