---
interface Props {
    href?: string;
}

const { href } = Astro.props;
---

<li>
    <a href={href} class="flex gap-4 text-accent/70 hover:text-accent items-center py-3 px-5 font-medium transition duration-300">
        <slot />
    </a>
</li>
