---
import { ClientRouter } from 'astro:transitions';
// The following import prevents a Font Awesome icon server-side rendering bug,
// where the icons flash from a very large icon down to a properly sized one:
import '@fortawesome/fontawesome-svg-core/styles.css';
// Prevent fontawesome from adding its CSS since we did it manually above:
import { config } from '@fortawesome/fontawesome-svg-core';
config.autoAddCss = false; /* eslint-disable import/first */
// Import Tailwind CSS
import '../styles/global.css';

import AsideMenu from '@/components/AsideMenu.astro';
import Player from '@/components/player';
import MobileNav from '@/components/nav/MobileNav.astro';
import MobileBackButton from '@/components/MobileBackButton.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.webp' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter fallback='none' />
  </head>
  <body>
    <div id='app' class='relative h-screen md:p-2 gap-2'>
      <MobileBackButton />

      <aside class='[grid-area:aside] hidden md:flex flex-col overflow-y-auto'>
        <AsideMenu transition:name='aside-menu' transition:persist />
      </aside>

      <main
        class='[grid-area:main] md:rounded-lg bg-primary overflow-y-auto w-full'
      >
        <slot />
      </main>

      <footer
        class='[grid-area:player] sticky bottom-0 z-50 w-screen h-auto md:static md:w-full'
      >
        <Player client:load transition:name='media-player' transition:persist />

        <MobileNav />
      </footer>
    </div>

    <style>
      #app {
        display: block;

        @media screen and (min-width: 768px) {
          display: grid;
          grid-template-areas:
            'aside main main'
            'player player player';
          grid-template-columns: 350px 1fr;
          grid-template-rows: 1fr auto;
        }
      }
    </style>

    <style is:global>
      html {
        font-family: system-ui, sans-serif;
        background: var(--color-secondary);
        color: var(--color-accent);
      }

      /* ===== Scrollbar CSS ===== */
      /* Firefox */
      * {
        scrollbar-width: auto;
        scrollbar-color: var(--color-accent) var(--color-primary);
      }

      /* Chrome, Edge, and Safari */
      *::-webkit-scrollbar {
        width: 9px;
      }

      *::-webkit-scrollbar-track {
        background: var(--color-primary);
      }

      *::-webkit-scrollbar-thumb {
        background-color: var(--color-accent);
      }

      *::-webkit-scrollbar-button {
        display: none;
      }
    </style>
  </body>
</html>
